.background-wrapper {
  position: relative;
  display: block;
  z-index: 0;
  width: 100%; /* Ensures the image spans the full width of the viewport */
  height: 200vh; /* Ensures the image stretches to cover the full height of the container */
  background-size: 100% auto; /* Stretches the image vertically while maintaining the width */
  background-image: url('../assets/SignLoginBackground.svg');
  background-position: center; /* Keeps the image centered */
  background-repeat:repeat-y;
}

.foreground {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-100%);
  width: 118%;
  height: auto;
  z-index: 1;
}

.banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-left: 10%;
  width: 80%;
  height: auto;
  z-index: 2;
}

.nav-bar {
  position: absolute;
  display: flex;
  top: 3vw;
  left: 50%;
  transform: translateX(-50%);
  gap: 50vw;
  z-index: 10;
}

.nav-button {
  background-color: rgba(0,0,0, 0);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 2vw;
  font-weight: 700;
  transition: transform 0.3s ease, color 0.3s ease; 
}

.nav-button:hover {
  color: var(--highlight-color);
  text-decoration-line: underline;
  text-decoration-thickness: 0.5vw;
  text-underline-offset: 0.75vw;
  transform: scale(1.1);
}

.foot-bar {
  position: absolute;
  display: flex;
  bottom: 3vw;
  left: 50%;
  transform: translateX(-50%);
  gap: 0.5vw;
  z-index: 5;
}

.foot-button {
  width: 3.5vw;
}

.play-button {
  position: absolute;
  background-color: rgba(0,0,0, 0);
  border: none;
  top: 42vw;
  width: 30vw;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  z-index: 10;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.play-button:hover {
  transform: translateX(-50%) scale(1.2); 
}