.background-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #F1EEE3;
  }

  .grid-column {
    display: grid;
    column-gap: 16px;            /* vertical spacing */
    grid-template-columns: repeat(3, auto);
    justify-items: center;    /* center boxes horizontally */
    height: 100vh;           /* full height of the viewport */
  }

.tasks-list {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 308px;
    height: auto;
  }

.input-box {
    position: absolute;
    top: 180px;
    left: 172px;
    width:200px;
    height:40px;
  }

.plus-button {
    position: absolute;
    top: 180px;
    left: 123px;
    width: 45px;
    height: 45px;
    border: 0px;
    background: 0px;

    transition: transform 0.2s ease;
  }

.plus-button:hover {
    position: absolute;
    transform: scale(1.1);
}

.stopwatch-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}