.study-background-wrapper {
  position: relative;
  display: block;
  z-index: 0;
  width: 100%; /* Ensures the image spans the full width of the viewport */
  height: 100vh; /* Ensures the image stretches to cover the full height of the container */
  background-size: 100% auto; /* Stretches the image vertically while maintaining the width */
  background-image: url('../../../assets/LandingPageBackground.svg');
  background-position: center; /* Keeps the image centered */
  background-repeat:repeat-y;
}

.study-tasks-list {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 308px;
    height: auto;
  }

.study-input-box {
    position: absolute;
    top: 180px;
    left: 172px;
    width:200px;
    height:40px;
  }

.study-plus-button {
    position: absolute;
    top: 180px;
    left: 123px;
    width: 45px;
    height: 45px;
    border: 0px;
    background: 0px;

    transition: transform 0.2s ease;
  }

.study-plus-button:hover {
    position: absolute;
    transform: scale(1.1);
}